# Configuration Files
.htaccess
local-config.php
One Hat One Hand.esproj/
postinfo.html
robots.txt
sitemap.xml
sitemap.xml.gz
cgi-bin/
default.html
readme.html
license.txt
index.php
*.log
400.shtml
401.shtml
403.shtml
404.shtml
500.php
500.shtml
decon-staging.esproj/
.sass-cache/
*pureftp*
*.DS_store
# Wordpress core files
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-admin/
wp-includes/
wp-config-sample.php
wp-feed.php
wp-pass.php
wp-rdf.php
wp-register.php
wp-rss.php
wp-rss2.php
wp-app.php
wp-atom.php
wp-commentsrss2.php


# wp-content
wp-content/index.php
wp-content/uploads/
wp-content/upgrade/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/backups
wp-content/1646ad5c0a-backups
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/backups/

# Default Themes
wp-content/themes/twentyten
wp-content/themes/twentyeleven
wp-content/themes/twentytwelve
wp-content/themes/twentyfourteen
wp-content/themes/thesis_18
wp-content/themes/genesis
wp-content/themes/be-genesis-child
wp-content/themes/index.php

# Plugins
wp-content/plugins/login-logo
wp-content/plugins/backupwordpress
wp-content/plugins/akismet
wp-content/plugins/quick-chat
wp-content/plugins/jetpack
wp-content/plugins/hello.php
wp-content/plugins/ajax-thumbnail-rebuild
wp-content/plugins/all-in-one-favicon
wp-content/plugins/all-in-one-favicon/*
wp-content/plugins/hotfix
wp-content/plugins/regenerate-thumbnails
wp-content/plugins/simple-custom-post-type-archives
wp-content/plugins/options-framework
wp-content/plugins/fitvids-for-wordpress
wp-content/plugins/gravityforms
wp-content/plugins/lightbox-2

#	sketches/

*~
.svn
.cvs
.git
.listing
*.bak
*.swp
plugins/wp-file-cache/cache
cache
_wpeprivate
.cache
temp
tmp
*.tmp
imagecache*
uploads*
*_backup
gt-cache
ics-importer-cache
wp-config-sample.php
wp-content/w3tc*
wp-content/w3-*
wp-content/plugins/wpengine-snapshot/snapshots/*
wp-content/uploads/snapshots
wp-content/themes/thesis*/custom/cache
wp-content/themes/thesis*/lib/scripts/cache
wp-content/themes/*/cache
wp-content/plugins/*/cache
wp-content/w3tc-bak
wp-content/backup*
wp-content/temp*
wp-content/debug.log
wp-content/backups
wp-content/managewp
wp-content/upgrade/*
wp-content/uploads
wp-content/blogs.dir/*/*
pclzip-*

# WordPress debugging files
log.txt
debug.log

# Gallaries in various places
gallery/*
wp-content/gallery/*
wp-content/album/*

# Found in 'sneakernews' - probably just a backup but never going to be good to include
wp-content/plugins/plugins

# Found in the root of pod-1009
.a

# Forum software we probably shouldn't support anyway
forum/*

# known large file types
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
*.zip
*.tar
*.tgz
*.gz


