/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.loader { 
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	display: block;
	text-align: center;
}
.loading-text {
	width: 200px;
	height: 200px;
	margin: auto auto;
	line-height: 2;
}
.loading-icon {
	width: 15px;
	height: 30px;
	background-image: url(images/loading-watch.gif);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top;
	display: inline-block;
	margin-right:10px;
	vertical-align: bottom;
}

.reveal-modal {
	z-index:  1000;
}

.reveal-modal-bg {
	z-index: 999;
}

.reveal-modal .left.wp-post-image {
	float: left;
	margin-right:  10px;
	margin-bottom: 10px;
}
.fitvid {
	clear: both;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Fredericka the Great' serif;
	font-weight: 100;
	font-size: 1.5em;
}
.reveal-modal .close-reveal-modal {
	font-family: 'Fredericka the Great' serif;
	
}

p {
	font-family: 'Muli', arial, sans-serif;
}

.modal-header {
	width: 100%;
	border-bottom: 2px solid #333;
	clear: both;
	padding-bottom: 5px;
	margin-bottom: 10px;
	text-align: center;
}

.modal-footer {
	width: 100%;
	border-top: 2px solid #333;
	clear: both;
	padding-top: 5px;
	margin-top: 10px;
	float: left;
}
.reveal-modal .hathand.hand a{
		margin:  0 auto;
}
.reveal-modal .modal-inner {
	width:  100%;
	clear: both;
	line-height: 22px;
}
.reveal-modal .modal-link {
	margin-top: 10px;
}

.modal-link a {
	text-decoration: none;
	font-family: 'Parisienne', cursive, sans-serif;
	color: #888;
	font-size: 1.2em;
}

/* arrows */

.left.arrow {
	background: url(images/left-arrow-grey.png) no-repeat left 2px;
	padding-left:  15px;
}
.right.arrow {
	background: url(images/right-arrow-grey.png) no-repeat right 2px;
	padding-right:  15px;
}

.keyboard_arrows {
	background: url(images/arrows.png) no-repeat top;
	display: block;
	float:  left;
	margin: 0 10px;
	width:  35px;
	height: 23px;
}

ul.block-grid { 
	width:100%;
}
ul.block-grid li{
	box-sizing: border-box;
	
	padding: 6px;
	float: left;
	list-style: none;
}
ul.block-grid.four-up li{
	width: 25%;
}
ul.block-grid.three-up li{
	width: 33.33%;
}
ul.block-grid.two-up li{
	width: 50%;
}
ul.block-grid.five-up li{
	width: 20%;
}

.block-grid img {
	max-width: 100%;
	height: auto;
}

.post-nav {

}
.post-nav a {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;

}
.post-nav a:hover {
	color: #333;
}
.post-nav .older {
	margin-right: 12px;
}
.post-nav .older a:before {
	content:"";
	content: "";
	border-width: 10px;
	border-color: transparent #000 transparent transparent;
	display: inline-block;
	margin-right: 6px;
	border-style: solid;
	line-height: 1;
	vertical-align: bottom;
	}
.post-nav .newer {
	margin-left: 24px;
}
.post-nav .newer a:after {
	content:"";
	content: "";
	border-width: 10px;
	border-color: transparent transparent transparent #000;
	display: inline-block;
	margin-left: 6px;
	border-style: solid;
	line-height: 1;
	vertical-align: bottom;
	}
.social-wrapper {
	border-top: 3px solid #000;
	margin-top: 24px;
	padding-top: 24px;
}
.full-width.wrapper.media .social-wrapper { margin-top:0;}
li.social-link a{
width: 80px;
height: 80px;
background-size: contain;
display: block;
text-indent:-9999%;
float: left;
background-repeat: no-repeat;
background-position: top; 
margin-right:24px;
-webkit-transition: all .5s ease-in-out;

}
li.social-link a:hover, li.social-link a:active {-webkit-transform: scale(1.1);}

li.social-link a.facebook {
	background-image: url(images/facebook-icon.png);

}
li.social-link a.instagram {
	background-image: url(images/instagram-icon.png) ;

}

.full-width.wrapper.media .section-title {margin-bottom: 0;}